<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<div class="container">
    <div id="dentist" class="box">
        <h2>Dentist</h2>
        <!-- Aquí va el contenido de Dentist -->
    </div>
    <div id="patient" class="box">
        <h2>Patient</h2>
        <!-- Aquí va el contenido de Patient -->
    </div>
    <div id="meet" class="box">
        <h2>Meet</h2>
        <!-- Aquí va el contenido de Meet -->
    </div>
</div>
<script th:src="@{/script.js}"></script>
</body>
</html>
